

.loginDiv{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  width: 100%;
  max-width: 30vw;
  min-width: 420px;
  input{
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #fff7e9;
    width: 100%;
  }
  margin-bottom: 40px;
}
.register{
  :hover{
    background: radial-gradient(ellipse at 50% 50%, #797979 0%, #313131 25%,  transparent 75%);
    opacity: 80%;
  }
  a{
    padding: 20px;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .login{
    width: 70vw;
    max-width: 70vw;
    min-width: 200px;
    input{
      width: 100%;
      min-width: 200px;
    }
  }
}