
h1{
  color: #fff7e9;
}

.registerDiv{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.register-form{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  width: 100%;
  max-width: 30vw;
  min-width: 420px;
  input{
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #fff7e9;
    width: 100%;
    min-width: 420px;  
  }
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .register-form{
    width: 70vw;
    max-width: 70vw;
    min-width: 200px;
    input{
      width: 100%;
      min-width: 200px;
    }
  }
}